mixin annot(index)
  div(id='annot-' + index, class='annotate')
    img(src="{% static 'images/service_anot.png' %}")
    div
      h1 Крутая Услуга номер РАЗ!
      p.
        Далеко-далеко за словесными горами в стране, 
        гласных и согласных живут рыбные тексты. 
        Большого, подзаголовок! 
