mixin annot(index)
  div(id='annot-' + index, class='annotate')
    h1 Услуга
    img(src="{% static 'images/service_anot.png' %}")
    p.
      Далеко-далеко за словесными горами в стране, 
      гласных и согласных живут рыбные тексты. 
      Большого, подзаголовок! 
      Ручеек лучше раз ее она напоивший речью грамматики единственное, 
      ты все повстречался за буквенных рекламных образ которое, 
      своих вопроса буквоград.