div(class='col')
  div(class='wrap')
    //-div(class='annotate')
      //-h1 Услуга
      //-img(src="{% static 'images/service_anot.png' %}")
      //-p.
          Далеко-далеко за словесными горами в стране, 
          гласных и согласных живут рыбные тексты. 
          Большого, подзаголовок! 
          Ручеек лучше раз ее она напоивший речью грамматики единственное, 
          ты все повстречался за буквенных рекламных образ которое, 
          своих вопроса буквоград.
    div(class='descriptor')
      h1 Заголовок.
      p.
        Предлагаем вам эту офигенскую
        услугу по очень очень при очень
        уникальным ценам.
        Вы просто офигеете
    img(src="{% static 'images/service.png' %}")
