doctype html
|
| {% load static %}
html(lang='ru')
  head
    title Аксиома Ltd.
    link(rel='stylesheet', type='text/css', href="{% static 'css/reset.css' %}")
    link(rel='stylesheet', type='text/css', href="{% static 'css/main.css' %}")
    link(rel='stylesheet', type='text/css', href="{% static 'fonts/fontawesome/css/font-awesome.min.css' %}")
    link(rel='stylesheet', type='text/css', href="{% static 'assets/slick/css/slick.css' %}")
    link(rel='stylesheet', type='text/css', href="{% static 'assets/slick/css/slick-theme.css' %}")
    //-link(rel='stylesheet', type='text/css', href="{% static 'assets/owl/css/owl.carousel.css' %}")
    //-link(rel='stylesheet', type='text/css', href="{% static 'assets/owl/css/owl.theme.default.css' %}")

  body
    header
      div(id='nav-bar-top')
        div
          p +7 (812) 111-11-11
        div(class='nav-menu')
          p 
            a(href='') Задать вопрос
          p 
            a(href='') Написать письмо
          p 
            a(href='') Заказать звонок              
      div(id='nav-bar-main')
        div(id='logo')
        ul
          li 
            a(href='') О компании
          li
            a(href='') Проекты
          li 
            a(href='') Клиенты
          li
            a(href='') Решения
          li
            a(href='') Направления
      div(id='nav-bar-center', class='table')
        div(class='content row')
          p Поддержка бизнеса
          p в современном мире
          p AKsioma group
          p юридическая компания
    section(id='services')
      div(class='title')
        p Основные направления нашей деятельности:
      div(class='content servlist')
          - for (let i = 0; i < 7; i++) {
          include includes/_servlist.pug
          - }
    section(id='content-2')
      div(class='title')
        p Раздел 2
      div(class='content')
    section(id='content-3')
      div(class='title')
        p Раздел 3
      div(class='content')  
    section(id='content-4')
      div(class='title')
        p Раздел 4
      div(class='content')
    footer
      h1 Подвал
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src="{% static 'js/core.js' %}")
    script(src="{% static 'assets/slick/js/slick.js' %}")
    //-script(src="{% static 'assets/owl/js/owl.carousel.js' %}")
      
      
