<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <title>Аксиома Ltd.</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/fonts/fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/assets/slick/css/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/assets/slick/css/slick-theme.css' %}">
  </head>
  <body>
    <header>
      <div id="nav-bar-top">
        <div>
          <p>+7 (812) 111-11-11</p>
        </div>
        <div class="nav-menu">
          <p> <a href="">Задать вопрос</a></p>
          <p> <a href="">Написать письмо</a></p>
          <p> <a href="">Заказать звонок              </a></p>
        </div>
      </div>
      <div id="nav-bar-main">
        <div id="logo"></div>
        <ul>
          <li> <a href="">О компании</a></li>
          <li><a href="">Проекты</a></li>
          <li> <a href="">Клиенты</a></li>
          <li><a href="">Решения</a></li>
          <li><a href="">Направления</a></li>
        </ul>
      </div>
      <div class="table" id="nav-bar-center">
        <div class="content row">
          <p>Поддержка бизнеса</p>
          <p>в современном мире</p>
          <p>AKsioma group</p>
          <p>юридическая компания</p>
        </div>
      </div>
    </header>
    <section id="services">
      <div class="title">
        <p>Основные направления нашей деятельности:</p>
      </div>
      <div class="content servlist">
        <div class="col">
          <div class="wrap">
            <div class="descriptor" data-annot-id="0">
              <h1>Заголовок.</h1>
              <p>
                Предлагаем вам эту офигенскую
                услугу по очень очень при очень
                уникальным ценам.
                Вы просто офигеете
              </p>
            </div><img src="{% static 'main/images/cat-0.jpg' %}">
          </div>
        </div>
        <div class="col">
          <div class="wrap">
            <div class="descriptor" data-annot-id="1">
              <h1>Заголовок.</h1>
              <p>
                Предлагаем вам эту офигенскую
                услугу по очень очень при очень
                уникальным ценам.
                Вы просто офигеете
              </p>
            </div><img src="{% static 'main/images/cat-1.jpg' %}">
          </div>
        </div>
        <div class="col">
          <div class="wrap">
            <div class="descriptor" data-annot-id="2">
              <h1>Заголовок.</h1>
              <p>
                Предлагаем вам эту офигенскую
                услугу по очень очень при очень
                уникальным ценам.
                Вы просто офигеете
              </p>
            </div><img src="{% static 'main/images/cat-2.jpg' %}">
          </div>
        </div>
        <div class="col">
          <div class="wrap">
            <div class="descriptor" data-annot-id="3">
              <h1>Заголовок.</h1>
              <p>
                Предлагаем вам эту офигенскую
                услугу по очень очень при очень
                уникальным ценам.
                Вы просто офигеете
              </p>
            </div><img src="{% static 'main/images/cat-3.jpg' %}">
          </div>
        </div>
        <div class="col">
          <div class="wrap">
            <div class="descriptor" data-annot-id="4">
              <h1>Заголовок.</h1>
              <p>
                Предлагаем вам эту офигенскую
                услугу по очень очень при очень
                уникальным ценам.
                Вы просто офигеете
              </p>
            </div><img src="{% static 'main/images/cat-4.jpg' %}">
          </div>
        </div>
        <div class="col">
          <div class="wrap">
            <div class="descriptor" data-annot-id="5">
              <h1>Заголовок.</h1>
              <p>
                Предлагаем вам эту офигенскую
                услугу по очень очень при очень
                уникальным ценам.
                Вы просто офигеете
              </p>
            </div><img src="{% static 'main/images/cat-5.jpg' %}">
          </div>
        </div>
        <div class="col">
          <div class="wrap">
            <div class="descriptor" data-annot-id="6">
              <h1>Заголовок.</h1>
              <p>
                Предлагаем вам эту офигенскую
                услугу по очень очень при очень
                уникальным ценам.
                Вы просто офигеете
              </p>
            </div><img src="{% static 'main/images/nocat-6.jpg' %}">
          </div>
        </div>
      </div>
      <div class="annotations">
        <div class="annotate" id="annot-0"><img src="{% static 'main/images/cat-a-0.jpg' %}">
          <div>
            <h1>Крутая Услуга номер ОДИН!</h1>
            <p>
              Далеко-далеко за словесными горами в стране, 
              гласных и согласных живут рыбные тексты. 
              Большого, подзаголовок! 
            </p>
          </div>
        </div>
        <div class="annotate" id="annot-1"><img src="{% static 'main/images/cat-a-1.jpg' %}">
          <div>
            <h1>Крутая Услуга номер ДВА!</h1>
            <p>
              Далеко-далеко за словесными горами в стране, 
              гласных и согласных живут рыбные тексты. 
              Большого, подзаголовок! 
            </p>
          </div>
        </div>
        <div class="annotate" id="annot-2"><img src="{% static 'main/images/cat-a-2.jpg' %}">
          <div>
            <h1>Крутая Услуга номер ТРИ!</h1>
            <p>
              Далеко-далеко за словесными горами в стране, 
              гласных и согласных живут рыбные тексты. 
              Большого, подзаголовок! 
            </p>
          </div>
        </div>
        <div class="annotate" id="annot-3"><img src="{% static 'main/images/cat-a-3.jpg' %}">
          <div>
            <h1>Крутая Услуга номер ЧЕТЫРЕ!</h1>
            <p>
              Далеко-далеко за словесными горами в стране, 
              гласных и согласных живут рыбные тексты. 
              Большого, подзаголовок! 
            </p>
          </div>
        </div>
        <div class="annotate" id="annot-4"><img src="{% static 'main/images/cat-a-4.jpg' %}">
          <div>
            <h1>Крутая Услуга номер ПЯТЬ!</h1>
            <p>
              Далеко-далеко за словесными горами в стране, 
              гласных и согласных живут рыбные тексты. 
              Большого, подзаголовок! 
            </p>
          </div>
        </div>
        <div class="annotate" id="annot-5"><img src="{% static 'main/images/cat-a-5.jpg' %}">
          <div>
            <h1>Крутая Услуга номер ШЕСТЬ!</h1>
            <p>
              Далеко-далеко за словесными горами в стране, 
              гласных и согласных живут рыбные тексты. 
              Большого, подзаголовок! 
            </p>
          </div>
        </div>
        <div class="annotate" id="annot-6"><img src="{% static 'main/images/nocat-a-6.jpg' %}">
          <div>
            <h1>Крутая Услуга номер СЕМЬ!</h1>
            <p>
              Далеко-далеко за словесными горами в стране, 
              гласных и согласных живут рыбные тексты. 
              Большого, подзаголовок! 
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="content-2">
      <div class="title">
        <p>Раздел 2</p>
      </div>
      <div class="content"></div>
    </section>
    <section id="content-3">
      <div class="title">
        <p>Раздел 3</p>
      </div>
      <div class="content"> </div>
    </section>
    <section id="content-4">
      <div class="title">
        <p>Раздел 4</p>
      </div>
      <div class="content"></div>
    </section>
    <footer>
      <h1>Подвал</h1>
    </footer>
    <div id="overlay"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'main/js/core.js' %}"></script>
    <script src="{% static 'main/assets/slick/js/slick.js' %}"></script>
  </body>
</html>