@import 'var_and_mixin';
@import 'header_nav_bar_top';
@import 'header_nav_bar_center';
@import 'header_nav_bar_main';

@import 'content_services';

html{
  overflow-y: scroll;
}

a {
  color: #102bdd;
  text-decoration: none;
  background-color: transparent;
}

.table {
  display: table;
  width: 100%;
  .row {
    display: table-row;
/*     .col {
      display: table-cell;
    }
 */ }
}

.flex {
  @include flexbox();
}
div.content-wrapper > * {
  max-width: $max-width;
  margin: auto;
}
header {
  height: 400px;
  width: 100%;
  & > .content-wrapper {
    &:nth-child(1) {
      background-color: #686370;
    }
    &:nth-child(2) {
      background-color: #468a7f;
    }
    &:nth-child(3) {
      background-image: url('../images/header.jpg');
      background-size: 100%;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}

.section, .footer {
  color: #ffffff;
  height: 200px;
}

#overlay {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #000000;
  opacity: 0.625;
  z-index: 9990;
  overflow: auto;
  /* &.show {
    display: block;
  } */
}

button {
  &.slick-prev:before, &.slick-next:before {
    color: black;
  }
}

#issue-2 {
  background-color: rgba(#b9b87a, 0.86);
}

#issue-3 {
  background-color: rgba(#87b97a, 0.86);
}

#issue-4 {
  background-color: rgba(#b9a77a, 0.86);
}

.footer {
  background-color: #323131;
}
